{% extends 'bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content">
        <section class="content-header">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    <h1 class="title"><b>{{ survey.name ~ ' (' ~ survey.datetime|date('Y-m-d') ~ ')' }}</b></h1>
                </div>
                <div class="global-actions"></div>
            </div>
        </section>
        <section id="main" class="content-body">
            {% block main %}
                {% if answers %}
                    {% for questionNumber, questionValues in answers %}
                        <div id="{{ 'container' ~ questionNumber }}" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </section>
        <section class="content-footer">
            <div class="form-actions">
                <a class=" btn btn-link pr-0 action-list"
                   title=""
                   href="/admin/?entity=Survey&amp;action=list"
                   target="_self"
                >
                    Back to listing
                </a>
            </div>
        </section>
    </div>
{% endblock content %}

{% block body_javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
    ></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            {% if answers %}
            {% for questionNumber, questionValues in answers %}
            $('#container{{ questionNumber }}').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '{{ questionNumber ~ '. ' ~ questionValues.question }}'
                },
                subtitle: {
                    text: 'Answers'
                },
                xAxis: {
                    categories: [
                        'Answers',
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Responders'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}&nbsp;</td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [
                    {% for optionId, optionValues in questionValues.options %}
                    {
                        name: '{{ optionValues.value }}',
                        data: [{{ optionValues.count }}]
                    },
                    {% endfor %}
                ]
            });
            {% endfor %}
            {% endif %}
        });
    </script>
{% endblock body_javascript %}
