{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="btn-group" style="margin-top: 20px;">
        <button type="button"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
        >
            Polls
        </button>
        <div class="dropdown-menu">
            {% if polls %}
                {% for poll in polls %}
                    <a class="dropdown-item" href="/poll/{{ poll.id }}">{{ poll.name }}</a>
                {% endfor %}
            {% else %}
                <a class="dropdown-item" href="#">No polls to display!</a>
            {% endif %}
        </div>
        <a class="btn btn-primary" href="/poll/new/{{ app.user.id }}" role="button">Create Poll</a>
    </div>
    <div class="dropdown show" style="margin-top: 20px;">
        <a class="btn btn-secondary dropdown-toggle"
           href="#"
           role="button"
           id="dropdownSurveyMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
        >
            Surveys
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownSurveyMenuLink">
            {% if surveys %}
                {% for survey in surveys %}
                    <a class="dropdown-item" href="/graph/{{ survey.id }}">
                        {{ survey.name ~ ' (' ~ survey.datetime|date('Y-m-d') ~ ')' }}
                    </a>
                {% endfor %}
            {% else %}
                <a class="dropdown-item" href="#">No surveys to display!</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
