{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <div class="card">
            <div class="card-header">
                <b>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </b>
            </div>
        </div>
    {% endif %}
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle"
           href="#"
           role="button"
           id="dropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
        >
            Polls
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/poll/new/{{ app.user.id }}">Create Poll</a>
            {% if polls %}
                {% for poll in polls %}
                    <a class="dropdown-item" href="/poll/{{ poll.id }}">{{ poll.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
