{% extends 'bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content">
        <section class="content-header">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    <h1 class="title">Create Poll</h1>
                </div>
                <div class="global-actions"></div>
            </div>
        </section>
        <section id="main" class="content-body">
            {% block main %}
                <div class="btn-group" style="margin: 20px 20px 0px 20px;">
                    <button type="button"
                            class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Polls
                    </button>
                    <div class="dropdown-menu">
                        {% if polls %}
                            {% for poll in polls %}
                                <a class="dropdown-item"
                                   href="{{ path('easyadmin', {'entity': 'Poll', 'action': 'formEdit', 'id': poll.id}) }}"
                                >
                                    {{ poll.name }}
                                </a>
                            {% endfor %}
                        {% else %}
                            <a class="dropdown-item" href="#">No polls to display!</a>
                        {% endif %}
                    </div>
                    <a class="btn btn-primary"
                       href="{{ path('add_poll', {'adminId': app.user.id}) }}"
                       role="button"
                    >
                        Create Poll
                    </a>
                </div>
                <div class="dropdown show" style="margin: 20px;">
                    <a class="btn btn-secondary dropdown-toggle"
                       href="#"
                       role="button"
                       id="dropdownSurveyMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >
                        Surveys
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownSurveyMenuLink">
                        {% if surveys %}
                            {% for survey in surveys %}
                                <a class="dropdown-item"
                                   href="{{ path('easyadmin', {'entity': 'Survey', 'action': 'graph', 'id': survey.id}) }}"
                                >
                                    {{ survey.name ~ ' (' ~ survey.datetime|date('Y-m-d') ~ ')' }}
                                </a>
                            {% endfor %}
                        {% else %}
                            <a class="dropdown-item" href="#">No surveys to display!</a>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </section>
        <section class="content-footer">
            <div class="form-actions">
                <a class=" btn btn-link pr-0 action-list"
                   title=""
                   href="/admin/?entity=Poll&amp;action=list"
                   target="_self"
                >
                    Back to listing
                </a>
            </div>
        </section>
    </div>
{% endblock content %}

{% block body_javascript %}
    <script src="{{ encore_entry_script_tags('app') }}"></script>
{% endblock body_javascript %}
