<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <!-- Title -->
            <a class="navbar-brand" href="{{ path('easyadmin') }}">NFQ Pulse</a>
            <!-- Links -->
            <div class="navbar-nav">
                <!-- Super admin links -->
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <!-- User import page link -->
                    <a class="nav-item nav-link" href="{{ path('home') }}">User Import</a>
                    <!-- Bot settings link -->
                    <a class="nav-item nav-link" href="{{ path('bot_settings') }}">Bot Settings</a>
                {% endif %}
                <!-- Admin links -->
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                    <!-- Admin panel link -->
                    <a class="nav-item nav-link" href="{{ path('easyadmin') }}">Admin Panel</a>
                    <!-- Admin polls link -->
                    <a class="nav-item nav-link" href="{{ path('polls', {'adminId': app.user.id}) }}">Polls</a>
                {% endif %}
                <!-- Logout link -->
                {% if app.user %}
                    <a class="nav-item nav-link" href="{{ path('app_logout') }}">Logout ({{ app.user.email }})</a>
                {% endif %}
            </div>
        </nav>
        <!-- Page container -->
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
